<div class="container">
    <div class="container-fluid">

        <div class="d-flex justify-content-between">
            <div class="title">CUSTOMER ONBOARDING</div>
            <div class="d-flex">
                <div class="mr-10px">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">notifications</mat-icon>
                </div>
                <div>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
                </div>
            </div>
        </div>

        <div class="d-flex">
            <div class="w-80p">
                <div class="d-flex mt-2p">
                    <div *ngFor="let searchCategory of searchCategories;let i = index"
                        (click)="getSelecctedCategory(i)">
                        <button class="btn-rectangle mr-5px opacity-50p"
                            [ngClass]="{'opacity-100p': i === selectedSearchCategory}">
                            {{searchCategory.name}}
                        </button>
                    </div>
                </div>

                <div class="d-flex align-item-center mt-5p">
                    <div class="sub-title">
                        Perform Search
                    </div>
                    <div class="w-74p ml-2p">
                        <hr style="border: 1px solid #000000;width: 100%;">
                    </div>
                </div>

                <div class="mt-3p">
                    <mat-card class="w-90p">
                        <mat-card-content>
                            <div>
                                <form class="example-form" [formGroup]="userDetailForm">
                                    <div class="d-flex justify-content-around mr-10p mt-3p">
                                        <div>
                                            <div class="label-text">First name</div>
                                            <mat-form-field class="w-150p">
                                                <input matInput placeholder="Type in your first name" value=""
                                                    formControlName="firstName">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <div class="label-text">Last name</div>
                                            <mat-form-field class="w-150p">
                                                <input matInput placeholder="Type in your last name" value=""
                                                    formControlName="lastName">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-around mr-10p mt-3p">
                                        <div>
                                            <div class="label-text">Country</div>
                                            <mat-form-field class="w-150p">
                                                <mat-label>Select Country</mat-label>
                                                <mat-select formControlName="country">
                                                    <mat-option *ngFor="let country of countries"
                                                        [value]="country.value">
                                                        {{country.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <div class="label-text">Date of Birth</div>
                                            <mat-form-field class="w-150p">
                                                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="mt-5p  mb-2p d-flex justify-content-center">
                                        <button mat-button class="search-btn"
                                            (click)="submitUserDetails()">Search</button>
                                    </div>
                                </form>
                            </div>

                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="d-flex align-item-center mt-5p">
                    <div class="sub-title">
                        Search Results
                    </div>
                    <div class="w-74p ml-2p">
                        <hr style="border: 1px solid #000000;width: 100%;">
                    </div>
                </div>


                <div class="mt-3p">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{(element.name | slice: 0:25) + (element.name.length > 25 ? '...':'')}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef> Category </th>
                            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>

                        <ng-container matColumnDef="country">
                            <th mat-header-cell *matHeaderCellDef> Country </th>
                            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                        </ng-container>

                        <ng-container matColumnDef="source">
                            <th mat-header-cell *matHeaderCellDef> Source </th>
                            <td mat-cell *matCellDef="let element">
                                {{ (element.source | slice: 0:40) + (element.source.length > 40 ? '...':'')}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="riskStatus">
                            <th mat-header-cell *matHeaderCellDef> Risk Status </th>
                            <td mat-cell *matCellDef="let element" class="warning"> {{element.riskStatus}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div class="w-94p mt-5p">
                    <div class="d-flex">
                        <div class="w-60p">
                            <mat-card class="card-height">
                                <mat-card-content>
                                    <div class="text-align-center general-text pl-50px pr-50px">
                                        Did not find what you were looking for?
                                        Begin Onboarding process by creating new Profile.
                                    </div>
                                    <div class="d-flex justify-content-center mt-5p">
                                        <button mat-button class="create-profile-btn ">Create Profile</button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="w-40p">
                            <mat-card class="ml-5p card-height">
                                <mat-card-content>
                                    <div class="text-align-center  general-text">
                                        Did not find what you were looking for?
                                        Search for Adverse Media for individuals with no AML data
                                    </div>
                                    <div class="d-flex justify-content-center mt-10p">
                                        <button mat-button class="search-adverse-media-btn">
                                            Search Adverse Media
                                        </button>
                                    </div>
                                </mat-card-content>

                            </mat-card>
                        </div>
                    </div>

                </div>


            </div>

            <div class="w-20p">

                <div class="mt-53p">
                    <mat-card class="notice-board">
                        <mat-card-content>
                            <p> <strong>Know More</strong> </p>
                            <div>
                                Begin with the basic details of your customer/legal entity to perform an AML
                                Search.Your search is saved in the AML Search List.
                            </div>
                            <div class="mt-5p">
                                Perform AML checks on Legal entities as well on their UBOs and Directors
                            </div>

                            <div class="mt-5p warning">
                                Get early access to our Media Intelligence Product and search adverse articles for
                                individuals and legal entities.
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

    </div>
</div>