/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/width.scss";
@import "./assets/styles/margin-padding-custom.scss";
@import "./assets/styles//bootstrap-similar-classes.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 50px;
}

.container-fluid {
  width: 100%;
}
